{% extends "base.html" %}

{% block content %}

<!-- about page -->
<div class="container">
    <div class="row text-center justify-content-center">
        <div class="col-md-6">
            <br>
            <h1>About</h1>
            <p>
                Created by Joe Zobel and Jeremy Frank. This webapp will soon allow you to create
                 a March Madness bracket, host an auction, and host a traditional snake draft.
            </p>
        </div>
    </div>
</div>
    
{% endblock %}