{% extends "base.html" %}

{% block content %}
<script>
    function setActiveNav() {
        document.getElementById("about-nav-link").classList.add("active");
    }
</script>
<div class="container">
    <div class="row text-center justify-content-center">
        <div class="col-lg-6">
            <div class="card">
                <div class="card-header">
                    <h1>About</h1>
                </div>
                <div class="card-body">
                    <p>
                        Developed by Joe Zobel with contributions from Jeremy Frank and Nick Booth. 
                        This site currently displays advanced school stats from <a href="www.kenpom.com">Kenpom</a>
                        , individual player stats from <a href="www.sports-reference.com">Sports-Reference</a>, and
                        allows you to predict the outcome of a game between any two schools.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
    
{% endblock %}