{% extends "base.html" %}
    
    {% block content %}
        <!-- get the CSRF token to access APIs securely -->
        <script>
            function getCookie(name) {
                let cookieValue = null;
                if (document.cookie && document.cookie !== '') {
                    const cookies = document.cookie.split(';');
                    for (let i = 0; i < cookies.length; i++) {
                        const cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                        if (cookie.substring(0, name.length + 1) === (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                return cookieValue;
            }
            const csrftoken = getCookie('csrftoken');
        </script>

        <!-- reset the select menus for team calculation -->
        <script>
            // function to reset away and home select boxes
            function resetSelectBoxes() {
                $('#away').val('default');
                $("#away").selectpicker("refresh");
                $('#home').val('default');
                $("#home").selectpicker("refresh");
                // clear values in the table rows
                var output_table = document.getElementById("output_table");
                for (let i = 0; i < 3; i++) {
                    output_table.rows[1].cells[i].innerHTML = "";
                    output_table.rows[2].cells[i].innerHTML = "";
                }
                var spread_table = document.getElementById("spread_table");
                spread_table.rows[0].cells[0].innerHTML = "";
                spread_table.rows[0].cells[1].innerHTML = "";  
            }
        </script>

        <!-- calculate matchup -->
        <script>
            // function to calculate the score and win probabilities of a matchup
            function calculate() {
                // get the names of the two teams selected and neutral_site
                var away = $('#away').val();
                var home = $('#home').val();
                var neutral_site = $('#neutral_site').is(':checked');
                
                // use fetch to get the data from the api with POST
                fetch('/calculate/', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': csrftoken
                    },
                    body: JSON.stringify({
                        'away': away,
                        'home': home,
                        'neutral_site': neutral_site
                    })
                })
                // then get the data from the response
                .then(response => response.json())
                .then(data => {
                    // if the data is not null, then update the page with the data
                    if (data != null) {
                        // update the page with the data
                        $('#away_name').text(away);
                        $('#home_name').text(home);
                        $('#away_score').text(data.away_score);
                        $('#home_score').text(data.home_score);
                        $('#away_prob').text((data.away_prob * 100).toFixed(2) + "%");
                        $('#home_prob').text((data.home_prob * 100).toFixed(2) + "%");
                        $('#total_points').text("O/U " + data.total_points.toFixed(1));
                        var home_spread = parseFloat(data.home_spread.toFixed(1));
                        if(home_spread > 0) {
                            home_spread = "+" + home_spread;
                        }
                        else if(home_spread == 0) {
                            home_spread = "EVEN";
                        }
                        $('#home_spread').text(home + " " + home_spread);
                    }
                    // if the data is null, then reset the select boxes
                    else {
                        resetSelectBoxes();
                    }
                })
            }
        </script>

        <div class="container">
            <div class="row text-center justify-content-center">
                <div class="col-sm-9">
                    <br>
                    <h2>Calculate Matchup</h2>
                    <br>
                    <!-- Calculate predicted score, win probability given two teams -->
                    <!-- two input boxes for team names -->
                    <div class="row justify-content-center">
                        <div class="col-md-5">
                            <!-- dropdown search for team 1 -->
                            <div class="form-group">
                                <label for="away">Away</label>
                                <div>
                                    <select class="selectpicker" data-live-search="true" id="away">
                                        <option style="display:none"></option>
                                        {% for school in schools %}
                                        <option value="{{ school.name }}">{{ school.name }}</option>
                                        {% endfor %}
                                    </select> 
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-md-2">
                            <!-- checkbox for neutral site -->
                            
                                <label class="form-check-label" for="neutral_site">
                                    Neutral Site
                                </label>
                                
                                <div><input class="form-check-input" type="checkbox" id="neutral_site"></div>

                        </div>
                        <div class="col-md-5">
                            <!-- dropdown search for team 2 -->
                            <div class="form-group">
                                <label for="home">Home</label>
                                <div>
                                    <select class="selectpicker" data-live-search="true" id="home">
                                        <option style="display:none"></option>
                                        {% for school in schools %}
                                        <option value="{{ school.name }}">{{ school.name }}</option>
                                        {% endfor %}
                                    </select> 
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="row text-center">
                        <div class="col-sm-12">
                            <!-- output table for calculation results -->
                            <br>
                            <table class="table table-bordered table-striped" id="output_table">
                                <thead>
                                    <tr>
                                        <th scope="col">Team</th>
                                        <th scope="col">Score</th>
                                        <th scope="col">Win Probability</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr id="away_row">
                                        <td id="away_name"></td>
                                        <td id="away_score"></td>
                                        <td id="away_prob"></td>
                                    </tr>
                                    <tr id="home_row">
                                        <td id="home_name"></td>
                                        <td id="home_score"></td>
                                        <td id="home_prob"></td>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row text-center justify-content-center">
                        <div class="col-sm-6">
                            <table class="table table-bordered table-striped" id="spread_table">
                                <tr>
                                    <td id="total_points"></th>
                                    <th id="home_spread"></th>
                                </tr>
                            </table>
                        </div>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-sm-12">
                            <br>
                            <button type="button" class="btn btn-primary" onclick="calculate()" id="calculate">Calculate</button>
                            <button type="button" class="btn btn-primary" onclick="resetSelectBoxes()" id="reset">Clear</button>
                        </div>
                    </div>
                </div>
                    
                <br>
                <div class="row text-center justify-content-center">
                    <div class="col-md-6">
                        <hr class="mt-5">
                        {% if request.user.is_staff %}
                        <p>You are a staff member! This button updates the database.</p>
                        <div class="col-sm-12">
                            <button type="button" class="btn btn-primary" onclick="window.location.href='/update_database'">Update Database</button>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}

